# IntelliJ project files
.idea
seiscore/Drafts
venv
build
dist
seiscore.egg-info
.pytest_cache
docs
Drafts

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.c

#tmp files
*.lock